general:col.active_border=rgb({{base0E-hex}})
general:col.inactive_border=rgb({{base00-hex}})
group:col.border_active=rgb({{base0E-hex}})
group:col.border_inactive=rgb({{base00-hex}})
group:groupbar:col.active=rgb({{base0E-hex}})
group:groupbar:col.inactive=rgb({{base00-hex}})
