foreground #{{base05-hex}}
background #{{base00-hex}}
selection_foreground #{{base00-hex}}
selection_background #{{base05-hex}}

# URL styles
url_color   #{{base0C-hex}}
url_style   single

# Cursor styles
cursor  #{{base05-hex}}

# black
color0  #{{base00-hex}}
color8  #{{base04-hex}}

# red
color1  #{{base08-hex}}
color9  #{{base08-hex}}

# green
color2  #{{base0B-hex}}
color10 #{{base0B-hex}}

# yellow
color3  #{{base09-hex}}
color11 #{{base09-hex}}

# blue
color4  #{{base0D-hex}}
color12 #{{base0D-hex}}

# magenta
color5  #{{base0E-hex}}
color13 #{{base0E-hex}}

# cyan
color6  #{{base0C-hex}}
color14 #{{base0C-hex}}

# white
color7  #{{base05-hex}}
color15 #{{base07-hex}}
