/* start flavours */
:root {
  --base00: #232136;
  --base01: #2a273f;
  --base02: #393552;
  --base03: #59546d;
  --base04: #817c9c;
  --base05: #e0def4;
  --base06: #d9d7e1;
  --base07: #f5f5f7;
  --base08: #eb6f92;
  --base09: #ea9a97;
  --base0A: #f6c177;
  --base0B: #cbf2b8;
  --base0C: #3e8fb0;
  --base0D: #9ccfd8;
  --base0E: #c4a7e7;
  --base0F: #b9b9bc;

  --base00-rgb: 35, 33, 54;
  --base01-rgb: 42, 39, 63;
  --base02-rgb: 57, 53, 82;
  --base03-rgb: 89, 84, 109;
  --base04-rgb: 129, 124, 156;
  --base05-rgb: 224, 222, 244;
  --base06-rgb: 217, 215, 225;
  --base07-rgb: 245, 245, 247;
  --base08-rgb: 235, 111, 146;
  --base09-rgb: 234, 154, 151;
  --base0A-rgb: 246, 193, 119;
  --base0B-rgb: 203, 242, 184;
  --base0C-rgb: 62, 143, 176;
  --base0D-rgb: 156, 207, 216;
  --base0E-rgb: 196, 167, 231;
  --base0F-rgb: 185, 185, 188;

  --base00-r: 35;
  --base00-g: 33;
  --base00-b: 54;
  --base01-r: 42;
  --base01-g: 39;
  --base01-b: 63;
  --base02-r: 57;
  --base02-g: 53;
  --base02-b: 82;
  --base03-r: 89;
  --base03-g: 84;
  --base03-b: 109;
  --base04-r: 129;
  --base04-g: 124;
  --base04-b: 156;
  --base05-r: 224;
  --base05-g: 222;
  --base05-b: 244;
  --base06-r: 217;
  --base06-g: 215;
  --base06-b: 225;
  --base07-r: 245;
  --base07-g: 245;
  --base07-b: 247;
  --base08-r: 235;
  --base08-g: 111;
  --base08-b: 146;
  --base09-r: 234;
  --base09-g: 154;
  --base09-b: 151;
  --base0A-r: 246;
  --base0A-g: 193;
  --base0A-b: 119;
  --base0B-r: 203;
  --base0B-g: 242;
  --base0B-b: 184;
  --base0C-r: 62;
  --base0C-g: 143;
  --base0C-b: 176;
  --base0D-r: 156;
  --base0D-g: 207;
  --base0D-b: 216;
  --base0E-r: 196;
  --base0E-g: 167;
  --base0E-b: 231;
  --base0F-r: 185;
  --base0F-g: 185;
  --base0F-b: 188;
}
/* end flavours */

.theme-dark {
    --header-primary: var(--base06);
    --header-secondary: var(--base05);
    --text-normal: var(--base07);
    --text-muted: var(--base05);
    --text-link: var(--base0E);
    --channels-default: var(--base05);
    --interactive-normal: var(--base05);
    --interactive-hover: var(--base06);
    --interactive-active: var(--base05);
    --interactive-muted: var(--base01);
    --background-primary: var(--base00);
    --background-secondary: var(--base01);
    --background-secondary-alt: var(--base01);
    --background-tertiary: var(--base01);
    --background-accent: var(--base01);
    --background-floating: var(--base00);
    --background-mobile-primary: var(--background-primary);
    --background-mobile-secondary: var(--background-secondary);
    --background-modifier-hover: rgba(var(--base00-rgb),0.5);
    --background-modifier-active: rgba(var(--base00-rgb),0.9);
    --background-modifier-selected: rgba(var(--base00-rgb),0.9);
    --background-modifier-accent: hsla(0,0%,100%,0.06);
    --background-mentioned: rgba(var(--base09-rgb), 0.05);
    --background-mentioned-hover: rgba(var(--base09-rgb),0.08);
    --background-message-hover: rgba(4,4,5,0.07);
    --background-help-warning: rgba(var(--base09-rgb),0.1);
    --background-help-info: rgba(0,176,244,0.1);
    --scrollbar-thin-thumb: var(--base00);
    --scrollbar-thin-track: transparent;
    --scrollbar-auto-thumb: var(--base01);
    --scrollbar-auto-track: var(--base00);
    --scrollbar-auto-scrollbar-color-thumb: var(--base01);
    --scrollbar-auto-scrollbar-color-track: var(--base00);

    /* --elevation-stroke: 0 0 0 1px rgba(4,4,5,0.15); */
    /* --elevation-low: 0 1px 0 rgba(4,4,5,0.2),0 1.5px 0 rgba(6,6,7,0.05),0 2px 0 rgba(4,4,5,0.05); */
    /* --elevation-medium: 0 4px 4px rgba(0,0,0,0.16); */
    /* --elevation-high: 0 8px 16px rgba(0,0,0,0.24); */
    --elevation-stroke: 0 0 0 1px rgba(4,4,5,0.15);
    --elevation-low: 0 0 0 rgba(4,4,5,0.2),0 0 0 rgba(6,6,7,0.05),0 0 0 rgba(4,4,5,0.05);
    --elevation-medium: 0 4px 4px rgba(0,0,0,0.16);
    --elevation-high: 0 8px 16px rgba(0,0,0,0.24);

    --logo-primary: var(--base07);
    --focus-primary: var(--base0E);
    --radio-group-dot-foreground: #8ea1e1;
    --guild-header-text-shadow: 0 1px 1px rgba(0,0,0,0.4);
    --channeltextarea-background: var(--base01);
    --activity-card-background: var(--base01);
    --textbox-markdown-syntax: var(--base05);

    /* --deprecated-card-bg: rgba(32,34,37,0.6); */
    /* --deprecated-card-editable-bg: rgba(32,34,37,0.3); */
    --deprecated-store-bg: var(--base00);
    /* --deprecated-quickswitcher-input-background: #72767d; */
    /* --deprecated-quickswitcher-input-placeholder: hsla(0,0%,100%,0.3); */
    /* --deprecated-text-input-bg: rgba(0,0,0,0.1); */
    /* --deprecated-text-input-border: rgba(0,0,0,0.3); */
    /* --deprecated-text-input-border-hover: #040405; */
    /* --deprecated-text-input-border-disabled: #202225; */
    /* --deprecated-text-input-prefix: #dcddde; */
}

