/* start flavours */
@define-color base00 #191724;
@define-color base01 #181825;
@define-color base02 #313244;
@define-color base03 #45475a;
@define-color base04 #585b70;
@define-color base05 #cdd6f4;
@define-color base06 #e0def4;
@define-color base07 #e2e1e7;
@define-color base08 #f38ba8;
@define-color base09 #fab387;
@define-color base0A #f9e2af;
@define-color base0B #a6e3a1;
@define-color base0C #94e2d5;
@define-color base0D #89b4fa;
@define-color base0E #cba6f7;
@define-color base0F #f2cdcd;
/* end flavours */

* {
    border: none;
    border-radius: 0;
    font-family: "MesloLGS", "MesloLGS Nerd Font Mono";
    font-size: 14px;
    min-height: 0;
}

button:hover {
  box-shadow: none;
  text-shadow: none;
  background: none;
  transition: none;
}

window#waybar {
    background: @base00;
}

tooltip {
    background: @base00;
    border-radius: 15px;
    border-width: 2px;
    border-style: solid;
    border-color: @base00;
}

#custom-logo {
    color: @base02;
    background-color: @base0E;
    margin: 10px 4px;
    border-radius: 8px;
    padding: 0px 15px;
    margin-left: 10px;
}

#workspaces {
    margin-left: 10px;
}

#workspaces button {
    color: @base0E;

    padding: 2px 8px;
    margin: 8px 0px;
    border-radius: 6px;
}

#workspaces button.empty {
    color: @base04;
}

#workspaces button.active {
    color: @base00;
    background-color: @base0E;
}

#workspaces button.urgent {
    color: @base08;
}

#custom-date, #clock, #battery, #pulseaudio, #network, #tray, #cpu, #memory {
    color: @base05;
    padding: 0px 10px;
}

#tray {
    background-color: @base00;
    padding-right: 1em;
}
