    --base00: #191724;
    --base01: #1f1d2e;
    --base02: #26233a;
    --base03: #555169;
    --base04: #6e6a86;
    --base05: #e0def4;
    --base06: #f0f0f3;
    --base07: #e2e1e7;
    --base08: #eb6f92;
    --base09: #ebbcba;
    --base0A: #f6c177;
    --base0B: #cbf2b8;
    --base0C: #3e8fb0;
    --base0D: #9ccfd8;
    --base0E: #c4a7e7;
    --base0F: #b9b9bc;
