# Enable Powerlevel10k instant prompt. Should stay close to the top of ~/.config/zsh/.zshrc.
# Initialization code that may require console input (password prompts, [y/n]
# confirmations, etc.) must go above this block; everything else may go below.
if [[ -r "${XDG_CACHE_HOME:-$HOME/.cache}/p10k-instant-prompt-${(%):-%n}.zsh" ]]; then
  source "${XDG_CACHE_HOME:-$HOME/.cache}/p10k-instant-prompt-${(%):-%n}.zsh"
fi

ZSH_THEME="powerlevel10k/powerlevel10k"

###############################
### Cleaning Home Directory ###
###############################

export XDG_CONFIG_HOME=$HOME/.config
export XDG_CACHE_HOME=$HOME/.cache
export XDG_DATA_HOME=$HOME/.local/share
export XDG_DATA_DIRS=/usr/local/share:/usr/share
export XDG_CONFIG_DIRS=/etc/xdg

export ANDROID_USER_HOME="$XDG_DATA_HOME"/android
export BUNDLE_USER_CACHE="$XDG_CACHE_HOME"/bundle
export BUNDLE_USER_CONFIG="$XDG_CONFIG_HOME"/bundle
export BUNDLE_USER_PLUGIN="$XDG_DATA_HOME"/bundle
export CARGO_HOME="$XDG_DATA_HOME"/cargo
export DOCKER_CONFIG="$XDG_CONFIG_HOME"/docker
export DOTNET_CLI_HOME="$XDG_CONFIG_HOME"/dotnet
export GEM_HOME="$XDG_DATA_HOME"/gem
export GEM_SPEC_CACHE="$XDG_CACHE_HOME"/gem
export GHCUP_USE_XDG_DIRS=true
export GOPATH="$XDG_DATA_HOME"/go
export GRADLE_USER_HOME="$XDG_DATA_HOME"/gradle
export GRIPHOME="$XDG_CONFIG_HOME/grip"
export GTK2_RC_FILES="$XDG_CONFIG_HOME"/gtk-2.0/gtkrc
export LESSHISTFILE="$XDG_CACHE_HOME"/less/history
export LESSKEY="$XDG_CONFIG_HOME"/less/lesskey
export MYCLI_HISTFILE="$XDG_DATA_HOME/mycli/history"
export MYSQL_HISTFILE="$XDG_DATA_HOME"/mysql_history
export NODE_REPL_HISTORY="$XDG_DATA_HOME"/node_repl_history
export NPM_CONFIG_USERCONFIG=$XDG_CONFIG_HOME/npm/npmrc
export NVM_DIR="$XDG_DATA_HOME"/nvm
export PLATFORMIO_CORE_DIR="$XDG_DATA_HOME"/platformio
export PNPM_HOME=~/.local/share/pnpm
export RUSTUP_HOME="$XDG_DATA_HOME"/rustup
export TEXMFVAR="$XDG_CACHE_HOME"/texlive/texmf-var
export WINEPREFIX="$XDG_DATA_HOME"/wine
export WORKON_HOME="$XDG_DATA_HOME/virtualenvs"

alias adb='HOME="$XDG_DATA_HOME"/android adb'
alias wget=wget --hsts-file="$XDG_DATA_HOME/wget-hsts"

###############
### Aliases ###
###############

alias cat="bat $argv"
alias cp="cp -i $argv"
alias df="df -h $argv"
alias grep="rg $argv"
alias ls='eza --color=auto'
alias mv="mv -i $argv"
alias pn="pnpm"
alias rs='rsync --numeric-ids --info=progress2'
alias tp="trashy put $argv"

{{ if eq .chezmoi.os "linux" -}}
alias drag="dragon-drop"
alias iwlan="iwctl station wlan0"
{{ end }}

{{ if eq .chezmoi.os "darwin" -}}
alias sed="gsed"
{{ end }}

{{ if eq .chezmoi.hostname "cocoflo" -}}
alias db="PGPASSWORD=postgres pgcli -h localhost -p 5432 -U postgres -d cocoflo"
alias db-bl="PGPASSWORD=postgres pgcli -h localhost -p 5432 -U postgres"
alias db-int="PGPASSWORD=postgres pgcli -h 172.31.8.211 -p 5432 -U postgres"
{{ end }}

###################
### TTY Colours ###
###################

if [ "$TERM" = "linux" ]
then
  echo -en "\e]P0191724"
  echo -en "\e]P1f38ba8"
  echo -en "\e]P2a6e3a1"
  echo -en "\e]P3fab387"
  echo -en "\e]P489b4fa"
  echo -en "\e]P5cba6f7"
  echo -en "\e]P694e2d5"
  echo -en "\e]P7cdd6f4"
  echo -en "\e]P8585b70"
  echo -en "\e]P9f38ba8"
  echo -en "\e]PAa6e3a1"
  echo -en "\e]PBfab387"
  echo -en "\e]PC89b4fa"
  echo -en "\e]PDcba6f7"
  echo -en "\e]PE94e2d5"
  echo -en "\e]PFe2e1e7"
  clear # Clear artifacts
fi

###############
### History ###
###############

export HISTFILE="$HOME/.config/zsh/.zsh_history"
export HISTSIZE=10000
export SAVEHIST=10000
setopt append_history
setopt hist_expire_dups_first
setopt share_history

###############
### Env Var ###
###############

export EDITOR='nvim'
export DIFFPROG='meld'
{{ if eq .chezmoi.os "darwin" -}}
export LANG='en_US.UTF-8'
export LC_ALL='en_US.UTF-8'
{{ else -}}
export LANG='en_CA.UTF-8'
export LC_ALL='en_CA.UTF-8'
{{ end }}

{{ if eq .chezmoi.os "linux" -}}
export ELECTRON_OZONE_PLATFORM_HINT='wayland'
{{ end }}

# export JDTLS_JVM_ARGS="-javaagent:$HOME/.local/share/nvim/mason/packages/jdtls/lombok.jar"
# export MAVEN_OPTS="-Xmx768m -XX:MaxPermSize=512m"

fpath=($ZSH/functions $ZSH/completions $fpath)

export PATH=$PATH:~/.local/bin/scripts/:~/.local/bin/scripts/color-scripts/:~/.local/bin/:$CARGO_HOME/bin/:~/.local/share/npm/bin/:~/.ghcup/bin/:~/.rvm/bin/:~/.config/emacs/bin/

{{ if eq .chezmoi.os "darwin" -}}
eval "$(/opt/homebrew/bin/brew shellenv)"
source $(brew --prefix nvm)/nvm.sh
{{ end }}

###############
### Secrets ###
###############

export GEMINI_API_KEY={{ (rbw "cocoflo_gemini_api_key").notes | quote }}
export OPENROUTER_API_KEY={{ (rbw "openrouter_api_key").notes |quote }}

#############
### Other ###
#############

[[ -d "${XDG_CACHE_HOME:-${HOME}/.cache}/zsh/zcompcache" ]] || mkdir -p -- "${XDG_CACHE_HOME:-${HOME}/.cache}/zsh/zcompcache"
autoload -Uz compinit
compinit -d "${XDG_CACHE_HOME:-${HOME}/.cache}/zsh/zcompdump"
zstyle ':completion:*' menu select
zmodload zsh/complist

############################
### Interactive Comments ###
############################

setopt interactivecomments

################
### Bindings ###
################

bindkey -v
export KEYTIMEOUT=1

autoload -U edit-command-line
zle -N edit-command-line

# Use hjkl to move around the tab menu
bindkey -M menuselect 'l' vi-forward-char
bindkey -M menuselect 'j' vi-down-line-or-history
bindkey -M menuselect 'h' vi-backward-char
bindkey -M menuselect 'k' vi-up-line-or-history
bindkey -M menuselect '^[[Z' reverse-menu-complete

#################
### Functions ###
#################

source ~/.config/zsh/functions.zsh

###############
### Plugins ###
###############

eval "$(direnv hook zsh)"

# Powerlevel10k
source ~/.config/zsh/plugins/powerlevel10k/powerlevel10k.zsh-theme
[[ ! -f ~/.config/zsh/.p10k.zsh ]] || source ~/.config/zsh/.p10k.zsh

# zsh autosuggestions
source ~/.config/zsh/plugins/zsh-autosuggestions/zsh-autosuggestions.zsh

# zsh vim mode
source ~/.config/zsh/plugins/zsh-vi-mode/zsh-vi-mode.plugin.zsh
ZVM_CURSOR_STYLE_ENABLED=false

# zsh vim mode clipboard support
source ~/.config/zsh/plugins/zsh-system-clipboard/zsh-system-clipboard.zsh

{{ if eq .chezmoi.os "linux" -}}
if [[ $WAYLAND == 1 ]]; then
  ZSH_SYSTEM_CLIPBOARD_METHOD=wlc
elif [[ $WAYLAND == 0 ]]; then
  ZSH_SYSTEM_CLIPBOARD_METHOD=xcc
fi
{{ else if eq .chezmoi.os "darwin" -}}
ZSH_SYSTEM_CLIPBOARD_METHOD=pb
{{ end }}

# proper history behaviour
bindkey "\e[A" up-line-or-search
bindkey "\e[B" down-line-or-search

bindkey -M viins '^e' edit-command-line

# fast syntax highlighting -- should be last
source ~/.config/zsh/plugins/fast-syntax-highlighting/fast-syntax-highlighting.plugin.zsh
