[urgency_low]
    # IMPORTANT: colors have to be defined in quotation marks.
    # Otherwise the "#" and following would be interpreted as a comment.
    background = "#{{base01-hex}}"
    foreground = "#{{base05-hex}}"
    timeout = 5
    # Icon for notifications with low urgency, uncomment to enable
    #icon = /path/to/icon

[urgency_normal]
    background = "#{{base01-hex}}"
    foreground = "#{{base05-hex}}"
    timeout = 5
    # Icon for notifications with normal urgency, uncomment to enable
    #icon = /path/to/icon

[urgency_critical]
    background = "#{{base01-hex}}"
    foreground = "#{{base05-hex}}"
    frame_color = "#{{base08-hex}}"
    timeout = 0
    # Icon for notifications with critical urgency, uncomment to enable
    #icon = /path/to/icon
