.theme-dark{
    --header-primary: #{{base07-hex}};
    --header-secondary: #{{base06-hex}};
    --text-normal: #{{base05-hex}};
    --text-muted: #{{base04-hex}};
    --text-link: #{{base0D-hex}};
    --channels-default: #{{base04-hex}};
    --interactive-normal: #{{base06-hex}};
    --interactive-hover: #{{base07-hex}};
    --interactive-active: #{{base07-hex}};
    --interactive-muted: #{{base03-hex}};
    --background-primary: #{{base02-hex}};
    --background-secondary: #{{base01-hex}};
    --background-secondary-alt: #{{base01-hex}};
    --background-tertiary: #{{base01-hex}};
    --background-accent: #{{base04-hex}};
    --background-floating: #{base00-hex};
    --background-mobile-primary: #{{base02-hex}};
    --background-mobile-secondary: #{{base02-hex}};
    --background-modifier-hover: rgba({{base04-rgb-r}},{{base04-rgb-g}},{{base04-rgb-b}},0.16);
    --background-modifier-active: rgba({{base04-rgb-r}},{{base04-rgb-g}},{{base04-rgb-b}},0.24);
    --background-modifier-selected: rgba({{base04-rgb-r}},{{base04-rgb-g}},{{base04-rgb-b}},0.32);
    --background-modifier-accent: rgba({{base07-rgb-r}},{{base07-rgb-g}},{{base07-rgb-b}},0.06);
    --background-mentioned: rgba({{base09-rgb-r}},{{base09-rgb-g}},{{base09-rgb-b}},0.05);
    --background-mentioned-hover: rgba({{base09-rgb-r}},{{base09-rgb-g}},{{base09-rgb-b}},0.08);
    --background-message-hover: rgba({{base00-rgb-r}},{{base00-rgb-g}},{{base00-rgb-b}},0.07);
    --background-help-warning: rgba({base09-rgb-r}},{{base09-rgb-g}},{{base09-rgb-b}},0.1);
    --background-help-info: rgba({{base0D-rgb-r}},{{base0D-rgb-g}},{{base0D-rgb-b}},0.1);
    --scrollbar-thin-thumb: #{{base01-hex}};
    --scrollbar-thin-track: transparent;
    --scrollbar-auto-thumb: #{{base01-hex}};
    --scrollbar-auto-track: #{{base02-hex}};
    --scrollbar-auto-scrollbar-color-thumb: #{{base01-hex}};
    --scrollbar-auto-scrollbar-color-track: #{{base02-hex}};
    --elevation-stroke: 0 0 0 1px rgba({{base00-rgb-r}},{{base00-rgb-g}},{{base00-rgb-b}},0.15);
    --elevation-low: 0 1px 0 rgba({{base00-rgb-r}},{{base00-rgb-g}},{{base00-rgb-b}},0.2),0 1.5px 0 rgba({{base00-rgb-r}},{{base00-rgb-g}},{{base00-rgb-b}},0.05),0 2px 0 rgba({{base00-rgb-r}},{{base00-rgb-g}},{{base00-rgb-b}},0.05);
    --elevation-medium: 0 4px 4px rgba({{base00-rgb-r}},{{base00-rgb-g}},{{base00-rgb-b}},0.16);
    --elevation-high: 0 8px 16px rgba({{base00-rgb-r}},{{base00-rgb-g}},{{base00-rgb-b}},0.24);
    --logo-primary: #{{base07-hex}};
    --focus-primary: #{{base0D-hex}};
    --radio-group-dot-foreground: #8ea1e1;
    --guild-header-text-shadow: 0 1px 1px rgba(0,0,0,0.4);
    --channeltextarea-background: #{{base02-hex}};
    --activity-card-background: #{{base01-hex}};
    --textbox-markdown-syntax: #{{base05-hex}};
    --deprecated-card-bg: rgba({{base01-rgb-r}},{{base01-rgb-g}},{{base01-rgb-b}},0.6);
    --deprecated-card-editable-bg: rgba({{base01-rgb-r}},{{base01-rgb-g}},{{base01-rgb-b}},0.3);;
    --deprecated-store-bg: #{{base02-hex}};
    --deprecated-quickswitcher-input-background: #{{base04-hex}};
    --deprecated-quickswitcher-input-placeholder: rgba({{base07-rgb-r}},{{base07-rgb-g}},{{base07-rgb-b}},0.3);
    --deprecated-text-input-bg: rgba(0,0,0,0.1);
    --deprecated-text-input-border: rgba(0,0,0,0.3);
    --deprecated-text-input-border-hover: #040405;
    --deprecated-text-input-border-disabled: #{{base02-hex}};
    --deprecated-text-input-prefix: #{{base07-hex}};
}
