.darktheme {
    --accent: #{{base0E-hex}};
    --bg: #{{base00-hex}};
    --sbg: #{{base01-hex}};
    --fg: #{{base07-hex}};
    --sfg: #{{base01-hex}};
    --imgcol: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
}
