/* start flavours */
* {
	background-color: #232136;
	text-color: #e0def4;
	spacing: 0;
	width: 1440px;
    dpi: 220;
}

inputbar {
	border: 0 0 1px 0;
	children: [prompt, entry];
}

prompt {
	padding: 32px;
}

textbox {
	padding: 16px 32px;
}

entry {
	padding: 32px;
}

listview {
	cycle: false;
	margin: 0 0 -2px 0;
	scrollbar: false;
}

element {
	padding: 32px;
}

element selected {
	background-color: #c4a7e7;
	text-color: #232136;
}
/* end flavours */
