[flavours]
main_fg                               = {{base0E-hex}}
active_control_fg                     = {{base0E-hex}}
secondary_fg                          = {{base07-hex}}
secondary_bg                          = {{base0E-hex}}
main_bg                               = {{base00-hex}}
sidebar_and_player_bg                 = {{base00-hex}}
cover_overlay_and_shadow              = {{base01-hex}}
indicator_fg_and_button_bg            = {{base02-hex}}
pressing_fg                           = {{base0E-hex}}
slider_bg                             = {{base06-hex}}
sidebar_indicator_and_hover_button_bg = {{base0E-hex}}
scrollbar_fg_and_selected_row_bg      = {{base02-hex}}
pressing_button_fg                    = {{base07-hex}}
pressing_button_bg                    = {{base00-hex}}
selected_button                       = {{base0E-hex}}
miscellaneous_bg                      = {{base01-hex}}
miscellaneous_hover_bg                = {{base03-hex}}
preserve_1                            = {{base07-hex}}
